# generated build files
build/obj/
gmake/
vs2013/
vs2015/
vs2017/
codeblocks/
codelite/
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
!premake*.*

# visual studio files
*.ilk
*.pdb

# linux exes
examples/sample_edcs_access/sample_edcs_access
examples/sample_srm_access/sample_srm_access
examples/sample_srm_access_c/sample_srm_access_c
examples/test_accuracy/test_accuracy
examples/test_timing/test_timing

