# generated build files
build/obj/
gmake/
vs2017/
.vscode/
.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
!premake*.*

# visual studio files
*.ilk
*.pdb

# linux exes
examples/sample_srm_access/sample_srm_access
examples/sample_srm_access_c/sample_srm_access_c
examples/test_creation/test_creation
examples/test_srm_accuracy/test_srm_accuracy
examples/test_srm_timing/test_srm_timing
